.completed {
    color: green;
}

.incompleted {
    color: red;
}

.app {
    display: flex;
    justify-content: center;
}

.list {
    max-width: 80%;
}

.loader {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: 3px solid white;
    border-right-color: transparent;
    animation: loader 1s infinite;
    margin-top: 150px;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}